*.gem
*.rbc
.rspec
/test/dummy/log/*.log
/test/dummy/tmp
*.sqlite3

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

# must add Gemfile.lock to gitignore so travis has to rebuild the gem
# environment for every different version of rails.
# OR MAYBE NOT.

# Gemfile.lock

# these should all be checked in to normalize the environment:
.ruby-version, .ruby-gemset
