*.gem
*.rbc
.rspec
/test/dummy/log/*.log
/test/dummy/tmp
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-journal

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset
