*.gem
*.rbc
.rspec
/test/dummy/log/*.log
/test/dummy/tmp
*.sqlite3
/coverage/*
!/coverage/.last_run.json
# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset
